.main_title {
    color: rgb(139, 119, 0);
    background-color: rgb(0, 63, 0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main_img {
    width: 1800px;
    height: auto;
    border: 10px solid rgb(0, 63, 0);
}

.secondary_title {
    color: rgb(139, 119, 0);
    background-color: rgb(0, 63, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe_li a{
    color: rgb(0, 63, 0);
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe_li a:hover{
    color: rgb(139, 119, 0);
}

.recipe_li a:visited{
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 63, 0);
    font-size: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

li,
p {
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}